body {
  font-family: "Galmuri14", sans-serif;
}

.calendar-container {
  width: 600px;
  margin-left: 0; /* 캘린더 왼쪽 정렬 */
}

.calendar-header {
  display: flex;
  justify-content: center;
  column-gap: 23px;
  align-items: center;
  margin-bottom: 30px;
}

.calendar-container-grid {
  display: grid;
  grid-template-rows: auto 1fr;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7열로 설정 */
  text-align: center;
  padding-bottom: 20px; /* 날짜와 요일의 간격을 줄임 */
}

.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7열로 설정 */
  grid-gap: 5px; /* 날짜 셀 간의 간격 설정 */
}

.date {
  width: 80%; /* 유지 */
  height: 64px;
  display: flex;
  flex-direction: column; /* 수직 방향 정렬 */
  justify-content: flex-start; /* 상단 정렬 */
  align-items: center; /* 중앙 정렬 */
  padding-top: 5px; /* 상단 여백 추가 */
  cursor: pointer;
  border-radius: 6px;
  transition: height 0.3s ease; /* 부드러운 전환 */
  margin: 0 auto; /* 중앙 정렬 */
}

.date:hover {
  background-color: #FFAA7A;
  color: #fff;
}

#prevBtn, #nextBtn {
  width: 25px;
  height: 28px;
}

header {
  margin: 70px 120px;
}

.encourage {
  font-size: 24px;
  margin-bottom: 10px;
}

.meal-time-increase {
  width: 30%;
  padding-bottom: 10px;
  border-bottom: 2px solid #FFAA7A;
  font-size: 15px;
}

#color, #meal-time {
  color: #FFAA7A;
}

.section-container {
  display: flex;
  align-items: center;
  margin-left: 100px; /* 캘린더와 텍스트 영역 사이 여백 */
}

.calendar-container {
  margin-right: 20px; /* 캘린더와 텍스트 영역 사이의 간격 조정 */
}

.time-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #000;
  margin-left: 5%;
}

.time {
  display: flex;
  align-items: center; /* 수평 정렬 */
  padding: 20px;
  margin-left: 10%;
}

.time label {
  margin-right: 10px;
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.time > textarea {
  width: 32%;
  margin-top: 20px;
  border: none; 
  padding: 5px 0; 
  outline: none; 
  resize: none; 
  font-family: "Galmuri14", sans-serif;
}

.time > textarea:focus {
  border-bottom: 2px solid #C0C0C0; /* 포커스 상태에서 아래 선만 나타나도록 설정 */
}

@media screen and (max-width: 600px) {
  .section-container {
    flex-direction: column; /* 작은 화면에서는 세로 정렬 */
    margin-left: 0; /* 작은 화면에서는 왼쪽 마진 제거 */
  }

  .calendar-container {
    margin-right: 0; /* 작은 화면에서는 오른쪽 마진 제거 */
  }

  .time-container {
    width: 100%; /* 작은 화면에서는 텍스트 영역의 너비를 100%로 조정 */
  }
}
