section {
    font-family: "Galmuri14", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 7rem;
}

.user {
    width: 15%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
}

.user > img {
    width: 50%;
}

.user-info-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

#user-name {
    margin-top: 20px;
    margin-bottom: 10px;
}

.user-information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img {
    padding-left: 10px;
}

.memo > textarea {
    width: 20rem;
    height: 100%;
    font-size: 16px;
  border: 1px solid black;
  border-radius: 10px; 
  padding: 20px; 
  outline: none; 
  resize: none; 
  font-family: "Galmuri14", sans-serif;
}

.item-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
}

.section-menu-container {
    margin-top: 3rem;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 3rem;
    margin-left: 10rem;
    gap: 10px;
}

.section-menu {
    position: relative;
    padding-bottom: 10px;
}

.section-menu > img {
    width: 100%;
}

.section-menu > span {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    pointer-events: none;
    z-index: 1;
    font-size: 17px;
}

.item-section-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    width: 80%;
    margin-left: 10rem;
    cursor:pointer ;
}



.item-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-section > img {
    width: 100%; /* 이미지가 부모 요소의 너비에 맞게 조정 */
    height: auto; /* 이미지의 높이 자동 조정 */
}

.item-info {
    width: 100%;
    text-align: center;
    height: 100%;
}

.item-info > img {
    position: absolute;
    width: 70%;
    top: 2%;
    left: 15%;
}

.item-name {
    font-size: 16px;
    margin-bottom: 5px; /* 아이템 이름과 Basic 사이의 간격 조정 */
}


.item-name {
    position: absolute;
    top: 70%; /* 이미지 높이의 50% 위치 */
    left: 50%; /* 이미지 너비의 50% 위치 */
    transform: translate(-50%, -50%); /* 텍스트를 가로 및 세로 방향으로 중앙 정렬 */
    font-size: 14px;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.basic, .special {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%); /* 텍스트를 가로 방향으로 중앙 정렬 */
    font-size: 14px;
    color: #8B4823; /* 기본 텍스트 색상 */
}

.special {
    color: #265BAC; /* 스페셜 텍스트 색상 */
}

.section-menu.active {
    border-bottom: 3px solid #FFBF8D; /* 원하는 border 스타일로 변경 가능 */
}


.accessories {
    display: none;
}

@media screen and (max-width: 1346px) {
    section {
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
    }

    .user {
        width: 20%;
        flex-direction: row;
        align-items: center;
        margin-top: 2rem;
    }

    .item-nav {
        margin-left: 0;
        align-items: center;
    }

    .user-info-container {
        margin-bottom: 0;
    }

    .user-information {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .item-section-container {
        margin-left: 0;
        gap: 20px;
        justify-content: center;
        width: 90%;
    }

    .user > img {
        margin-right: 1rem;
    }

    #user-name {
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 1rem;
    }

    .section-menu-container {
        margin-left: 0;
    }
}

@media screen and (max-width: 634px) {

    .user {
        width: 80%;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        margin-left: 0;
    }
    
    .user > img {
        width: 20%;
        margin-bottom: 10px;
    }

    .user-information {
        width: 100%;
        justify-content: center;
        
    }

    .memo > textarea {
        width: 90%;
    }

    .item-nav {
        margin-right: 0;
        align-items: center;
    }

    .item-section-container {
        margin-left: 0;
        gap: 10px;
        justify-content: center;
        width: 90%;
    }

    .item-name, .basic, .special {
        top:70%;
        font-size: 9px;
    }
    .basic, .special {
        top: 75%;
    }
}




